@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #060816;
  color: white;
  font-family: Inter, sans-serif;
}

/* Smooth Rendering */
* {
  box-sizing: border-box;
}

/* Selection */
::selection {
  background: rgba(59, 130, 246, 0.35);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1220;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Shimmer Animation */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}